.chatBox {
    height: 3.5rem;
    position: absolute !important;
    bottom: 0;
    width: 100%;
}

.chatBox input {
    border-radius: 0 !important;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.chatBox button {
    border-radius: 0 !important;
}
