:global #root {
    height: 100%
}

:global .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

:global .clearfix { 
    display: inline-block;
}

.chat {
    height: 100%;
}
